@import "../../../../index.scss";

.input-box {
  width: 800px;
  margin: 0.4rem 0 0.6rem 0;

  input {
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    color: #333;
    padding: 20px 14px;
    border: 1px solid #d0d5dd;
  }
  label {
    font-size: 20px;
    color: #344054;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
}

.message-required {
  color: red;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0.5rem;
  display: none;
}

input:valid ~ .message-required {
  display: none;
}

input:focus:invalid ~ .message-required {
  display: block;
}

@media screen and (max-width: 600px) {
  .input-box {
    width: 100%;
  }
}
