@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import "../index.scss";
header {
  padding: 1.7rem;
  /* text-align: center; */
  position: relative;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.share {
  cursor: pointer;
}
.share-icon {
  position: absolute;
  top: -0.8rem;
  right: 8rem;
  font-size: 4.8rem;
  color: $main-bg;
}
.menu {
  display: none;
}

.user-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $main-bg;
  margin: 0 auto;
}
.picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.myname {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 56px;
  font-family: Inter;
}
.hide {
  display: none;
}

/* responsive design for mobile */
@media (max-width: 768px) {
  .share-icon {
    right: 20px;
  }
  .menu {
    display: block;
  }
  .share {
    display: none;
  }
}

/* responsive design for ipad  */
@media (max-width: 1024px) {
  .share-icon {
    right: 20px;
  }
}
